In [47]:
import pandas as pd
df = pd.read_csv('GCB2022v27_MtCO2_flat.csv')
df_mx=df[df['Country']=='Mexico'] 
df_global=df[df['Country']=='Global']
df_mx.drop('Gas',axis=1)

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Cement,Flaring,Other,Per Capita
36176,Mexico,MEX,1750,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
36177,Mexico,MEX,1751,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
36178,Mexico,MEX,1752,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
36179,Mexico,MEX,1753,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
36180,Mexico,MEX,1754,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
36443,Mexico,MEX,2017,465.620953,48.529680,245.839744,20.876858,7.123264,NaN,3.790490
36444,Mexico,MEX,2018,475.268909,47.313232,233.825488,20.863843,7.360426,NaN,3.832385
36445,Mexico,MEX,2019,472.191499,45.268010,241.897149,19.497632,8.429845,NaN,3.774956
36446,Mexico,MEX,2020,391.706208,20.011074,190.678139,20.650326,10.842073,NaN,3.108821
36447,Mexico,MEX,2021,407.205037,19.360577,195.715517,22.339198,12.237033,NaN,3.213801